*,html,body{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0;
  padding: 0;
}
.bag1{
  height:80px;
  background-color: white;
}

.navigasiHeader a{
  color: rgb(0, 0, 0);
}
.navigasiHeader a:hover{
  color: rgb(47, 151, 33);
}

.headerBahasa a{
  color: rgb(0, 0, 0);
}

.headerBahasa a:hover{
  color: rgb(47, 151, 33);
}

.bag2{
  height:530px;
  background-image: url("../images/home.jpg");       
  background-repeat: no-repeat;
  background-size: cover;
}
.bag2 h1{
  color: white;
  padding-left: 70px;
} 

.bag2 p{
  color: rgb(206, 194, 24);
  padding-left: 70px;
  font-size: 25px;
}

.bag3{
height: 600px;
}

.bag3 div{
  height: 400px;
}

.bag3Img{
  background-image: url("../images/logo-gojek.jpg"); 
  border-radius: 15px;
  margin-left: 30px;
  

}

.bag3Desc h2{
  margin-bottom: 25px;
}

.bag3Desc a{
  color: rgb(47, 151, 33);
}

.bag4{
height: 550px;
} 

.bag4Img{
  height: 450px;
  background-image: url("../images/bikingakkaku.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.bag5{
height: 100px;
}

.bag6{
width : 100%;
}

.bag6 p{
margin-top: 25px;
}

.bag7{
  height: 270px; 
}

.productImg{
  height: 100px;
}

.productDesc p{
  margin-left: 6px;
}

.productDesc{
height: 100px; 
}

.kolom1{
margin-left: 110px;
}

.kolom1 p{
text-decoration: none;
color: black;
}

.kolom2{
margin-left: 40px; 
}

.kolom2 p{
text-decoration: none;
color: black;
}

.bag7final{
width: 100%;
}
