.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {

  color: black;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 10px;
}
.header {
  padding: 60px;
  text-align: center;
  background-image: url("https://media.globalcitizen.org/thumbnails/51/6c/516c86ea-0a9c-4d43-86db-9c170fe94322/ocean-dead-zones-oxygen.jpg__1500x670_q85_crop_subsampling-2.jpg");
  background-position: center;
  color: white;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 2px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bawah {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.bawah > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;   
  line-height: 75px;
  font-size: 30px;
}