.container{
    width: 100%;
    height: 1000px;
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 200px 400px 200px 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.kotak1{
    background-color: black;
    grid-column: 1/2;
    grid-row: 1/2;
    

}
.kotak2{
    background-color: red;
    grid-column: 2/5;
    grid-row: 1/2;
   
}

.kotak3{
    background-color:blue;
    grid-column: 1/5;
    grid-row: 2/4;
   
}

.kotak4{
    background-color: black;
    grid-column: 1/3;
    grid-row: 4/6; 

}

.kotak5{
    background-color: aquamarine;
    grid-column: 3/4;
    grid-row: 4/6;
  
}

.kotak6{
    background-color:grey;
    grid-column: 4/5;
    grid-row: 4/5;


}
.kotak7{
    background-color: yellow;
    grid-column: 4/5;
    grid-row: 5/6;
}

.kotak8{
    background-color: goldenrod;
    
  

}
